.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/*
/tests/results/*
.idea/
/assets/badges_labels.html
/assets/masonry.html
/assets/tour.html
/assets/dashboard_4_1.html
/assets/ecommerce_product.html
/assets/basic_gallery.html
/assets/teams_board.html
/assets/500.html
/assets/graph_peity.html
/assets/md-skin.html
/assets/graph_chartist.html
/assets/form_editors.html
/assets/issue_tracker.html
/assets/activity_stream.html
/assets/loading_buttons.html
/assets/empty_page.html
/assets/forum_main.html
/assets/draggable_panels.html
/assets/table_basic.html
/assets/skin-config.html
/assets/tree_view.html
/assets/pdf_viewer.html
/assets/email_template.html
/assets/sweetalert.html
/assets/timeline_2.html
/assets/video.html
/assets/diff.html
/assets/graph_sparkline.html
/assets/modal_window.html
/assets/toastr_notifications.html
/assets/spinners.html
/assets/table_foo_table.html
/assets/clipboard.html
/assets/profile.html
/assets/carousel.html
/assets/vote_list.html
/assets/notifications.html
/assets/clients.html
/assets/calendar.html
/assets/c3.html
/assets/table_data_tables.html
/assets/helper_classes.html
/assets/tinycon.html
/assets/social_buttons.html
/assets/ecommerce_product_list.html
/assets/buttons.html
/assets/dashboard_5.html
/assets/dashboard_2.html
/assets/graph_chartjs.html
/assets/agile_board.html
/assets/login_two_columns.html
/assets/form_autocomplete.html
/assets/typography.html
/assets/register.html
/assets/widgets.html
/assets/mail_compose.html
/assets/form_basic.html
/assets/forgot_password.html
/assets/ecommerce_payments.html
/assets/ecommerce-orders.html
/assets/blog.html
/assets/social_feed.html
/assets/404.html
/assets/profile_2.html
/assets/project_detail.html
/assets/layouts.html
/assets/css_animation.html
/assets/slick_carousel.html
/assets/datamaps.html
/assets/idle_timer.html
/assets/grid_options.html
/assets/chat_view.html
/assets/file_manager.html
/assets/search_results.html
/assets/contacts_2.html
/assets/invoice.html
/assets/article.html
/assets/graph_flot.html
/assets/spinners_usage.html
/assets/faq.html
/assets/lockscreen.html
/assets/index.html
/assets/graph_morris.html
/assets/off_canvas_menu.html
/assets/dashboard_3.html
/assets/mailbox.html
/assets/nestable_list.html
/assets/code_editor.html
/assets/mail_detail.html
/assets/icons.html
/assets/resizeable_panels.html
/assets/favicon.ico
/assets/tabs_panels.html
/assets/tabs.html
/assets/ecommerce_products_grid.html
/assets/form_file_upload.html
/assets/login.html
/assets/truncate.html
/assets/metrics.html
/assets/invoice_print.html
/assets/form_advanced.html
/assets/graph_rickshaw.html
/assets/validation.html
/assets/full_height.html
/assets/pin_board.html
/assets/ecommerce_product_detail.html
/assets/dashboard_4.html
/assets/contacts.html
/assets/text_spinners.html
/assets/form_markdown.html
/assets/form_wizard.html
/assets/password_meter.html
/assets/landing.html
/assets/i18support.html
/assets/timeline.html
/assets/google_maps.html
/assets/forum_post.html
/assets/jq_grid.html
/assets/ecommerce-cart.html
/assets/package.html
/assets/projects.html
